# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
storybook-static/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Turbo
.turbo/

# Vercel
.vercel/

.kiro
.npmrc